
<div class="container" style="text-align-last: center;display: flex;height: 100% ; justify-content: center;align-items: center;" >
  <div class="card" style="width: 18rem; border-color: rgba(255, 255, 255, 0);" >
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
     
    </div>
   
    <div class="card-body" >
      
        <div class="row mb-3">
           <div class="col-sm-12">
             <input [(ngModel)]="users.username" type="email" placeholder="username" class="form-control" id="inputEmail3" style="width: 100%; border-radius: 20px;">
           </div>
        </div>
        <div class="row mb-3">
           <div class="col-sm-12">
             <input [(ngModel)]="users.password" type="password" placeholder="password" class="form-control" id="inputPassword3" style="width: 100%; border-radius: 20px;">
           </div>
        </div>           
        
        <button type="submit" class="btn btn-primary" style="border-radius: 20px;width: 100%; background-color: rgb(199, 162, 43); border-color: rgb(199, 162, 43) ;"  (click)="login()">Sign in</button>
      
    </div>
  </div>
</div>


